/* CSS declarations go here */

body {
  background: #59C7B2;
  font-family: 'Roboto', sans-serif;
}
h1 {
  border: 5px solid #FFFFFF;
  border-radius: 8px;
  font-size: 6vw;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.7vw;
  color: #FFFFFF;
  text-align: center;
}
p {
  font-size: 1.7vw;
  color: #FFFFFF;
}
div {
  display: block;
}
textarea {
  width: 100%
}
a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
a:active {
  color: #ffffff;
  text-decoration: none;
}
.fa {
  color: #ffffff;
  text-decoration: none;
}
#boxen {
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#dropzone {
  float: left;
  position: relative;
  height: 0;
  width: 45%;
  padding-bottom: 45%;
  border: 5px solid #FFFFFF;
  border-radius: 8px;
}
#inputzone {
  float: right;
  position: relative;
  height: 0;
  width: 45%;
  padding-bottom: 45%;
  border: 5px solid #FFFFFF;
  border-radius: 8px;
}
#filepicker {
  padding-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#footer {
  float: right;
  bottom: 0;
}
